{% extends 'core/base.html' %}
{% load crispy_forms_tags %}


{% block content %}

<h3 class="d-flex justify-content-center align-items-center mt-4">REGJISTROHU</h3>
<div class="d-flex justify-content-center align-items-center">

        <form action="{% url 'signup' %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-flex justify-content-center">
                        <input type="submit" value="REGJISTROHU" class="btn btn-light mx-2">
                </div>
        </form>
</div>

{% endblock %}