{% extends 'core/base.html' %}

{% block content %}

{% if user.is_authenticated %}
<div class="w-25 mx-auto">

    <a href="{% url 'daily_report' %}" class="btn btn-light mx-2 d-flex align-items-center mt-5" style="height: 1.5rem;">RAPORT DITOR</a> <br>
    <a  href="/product_list_current_month/2024/4/" class="btn btn-light mx-2 d-flex align-items-center" style="height: 1.5rem;">LISTA E PRODUKTEVE PER MUAJIN AKTUAL</a> <br>
    <a href="{% url 'create_product' %}" class="btn btn-light mx-2 d-flex align-items-center" style="height: 1.5rem;">SHTO NJE PRODUKT TE RI</a>
    <br>
    <a href="{% url 'select_datas' %}" class="btn btn-light mx-2 d-flex align-items-center" style="height: 1.5rem;">SHIH TE DHENAT PER MUAJT E KALUAR</a> <br>
    
</div>

{% else %}
<p class="text-center mt-5">BEJ LOGIN PER TE VAZHDUAR</p>
{% endif %}
{% endblock %}