{% extends 'core/base.html' %}

{% block content %}
<style>
    .list-group-item:hover {
        background-color: #f0f0f0; /* Change to your desired hover background color */
        cursor: pointer; /* Show pointer cursor on hover */
    }

    .custom-card-body{
        display: flex;
        align-items: center;
    }
</style>

<div class="container mt-4">
    <div class="alert alert-secondary text-center font-weight-bold custom-bg">
        KETO JANE PRODUKTET QE TI KE MOMENTALISHT NE SISTEM:
    </div>

    <div class="grid-container">
                    {% for prod in products %}
                    <div class="card">
                        <div class="card-body ">
                            <p>{{ prod.name }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>


{% endblock %}