{% extends 'core/base.html' %}

{% block content %}
<style>
    .list-group-item:hover {
        background-color: #f0f0f0; /* Change to your desired hover background color */
        cursor: pointer; /* Show pointer cursor on hover */
    }
</style>

<div class="container mt-4">
    <div class="alert alert-secondary text-center font-weight-bold">
        KETO JANE PRODUKTET QE TI KE MOMENTALISHT NE SISTEM:
    </div>

    <div class="flex justify-center">
        <div class="card w-50">
            <div class="card-body">
                <ol class="list-group list-group-flush">
                    {% for prod in products %}
                        <li class="list-group-item">{{ prod.name }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>


{% endblock %}