{% extends 'core/base.html' %}
{% load humanize %}
{% block content %}


<h3 class="d-flex justify-content-center mx-auto mt-3">PRODUKTET PER MUAJIN {{ month }}/{{ year }}</h3>


{% if products %}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        padding: 8px;
        width: 25vw;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    
</style>



<table class="table table-bordered table-striped w-50 mx-auto mt-3" id="totals">
    <tr>
        <td>Totali i shpenzimeve</td>
        <td>Totali i fitimeve</td>
    </tr>
    <tr>
        <td class="number"><span id="totalCost">0</span> ALL</td>
        <td class="number"><span id="totalRevenues">0</span>ALL</td>
    </tr>
</table>

<table class="table table-bordered table-striped" id="monthly_report">
    <thead>
        <th></th>
        <th>Stoku total</th>
        <th>Celja</th>
        <th>Sasia e blerjes</th>
        <th>Sasia e shitur</th>
        <th>Kosto</th>
        <th>Fitimi</th>
        
       
    </thead>
    {% for product in products %}
    <tr>
        <td><a href="{% url 'product_details' product_id=product.id current_year=current_year current_month=current_month %}">{{ product.name }}</a></td>
        <td class="number">{{ product.total_stock|intcomma }}</td>
        <td class="number">{{ product.celja_quantity|intcomma }}</td>
        <td class="number">{{ product.buys|intcomma }}</td>
        <td class="number">{{ product.sales|intcomma }}</td>
        <td class="number">{{ product.total_cost_per_product|intcomma }}</td>
        <td class="number">{{ product.total_revenue_per_product|intcomma }}</td>
        
     
    </tr>
    {% endfor %}
</table>

<form id="download-form" action="{% url 'download_excel' %}" method="post" style="display: none;">
    {% csrf_token %}
    <textarea name="html_content" id="html_content"  style="display: none;"></textarea>
</form>

<button onclick="submitForm()" class="btn btn-secondary d-flex align-items-center mx-2">Download Excel</button>

{% else %}

    <p class="text-center mt-3">Ti nuk ke te dhena te ruajtura per periudhen e zgjedhur.</p>

{% endif %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
      const table = document.getElementById('monthly_report');
      const firstColumnValues = new Set();
  
      // Get unique values from the first column cells
      table.querySelectorAll('tbody td:first-child').forEach(cell => {
          firstColumnValues.add(cell.textContent.trim());
      });
  
      // Create select dropdown for the first column
      const select = document.createElement('select');
      const defaultOption = document.createElement('option');
      defaultOption.value = '';
      defaultOption.textContent = 'PRODUKTI';
      select.appendChild(defaultOption);
  
      firstColumnValues.forEach(value => {
          const option = document.createElement('option');
          option.value = value;
          option.textContent = value;
          select.appendChild(option);
      });
  
      // Add event listener to filter rows based on the selected value
      select.addEventListener('change', function () {
          const selectedValue = this.value;
          table.querySelectorAll('tbody tr').forEach(row => {
              const cell = row.querySelector('td:first-child');
              const cellValue = cell.textContent.trim();
              if (selectedValue === '' || cellValue === selectedValue) {
                  row.style.display = 'table-row';
              } else {
                  row.style.display = 'none';
              }
          });
      });
  
      // Add select dropdown to the header of the first column
      const header = table.querySelector('thead th:first-child');
      header.appendChild(select);
  });
  
  
  document.addEventListener('DOMContentLoaded', function () {
          calculateTotals();
      });
  
      function calculateTotals() {
          let totalCost = 0;
          let totalRevenue = 0;
          const table = document.getElementById('monthly_report');
          const rows = table.getElementsByTagName('tr');
  
          for (let i = 1; i < rows.length; i++) { // Start from index 1 to skip header row
              const costCell = rows[i].getElementsByTagName('td')[5]; 
              const revenueCell = rows[i].getElementsByTagName('td')[6]; 
  
              const cost = parseFloat(costCell.textContent.replace(' ALL', ''));
              const revenue = parseFloat(revenueCell.textContent.replace(' ALL', ''));
  
              totalCost += cost;
              totalRevenue += revenue;
          }
  
          document.getElementById('totalCost').textContent = totalCost.toFixed(2);
          document.getElementById('totalRevenues').textContent = totalRevenue.toFixed(2);
      }
function submitForm() {
        var tableHtml = document.getElementById('monthly_report').outerHTML;
        document.getElementById('html_content').innerHTML = tableHtml;
        document.getElementById('download-form').submit();
    }
</script>
{% endblock %}